@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

/* Works on Firefox */
* 
{
scrollbar-width: 20px;
scrollbar-color: #f2f3f3 ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 7px;

}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: #296161;
border-radius: 8px;
border: transparent;
}
    
:root{
    --cor-fundo: rgb(254, 216, 117);
    --cor-hover: rgb(245, 253, 161);
    --cor-primaria:rgb(20, 20, 20);
}

body{
    font-family:'Bree Serif', serif;
    margin: 0px;
    background-color: var(--cor-fundo);
    margin: auto;
}


.container{
    max-width: 1024px;
    margin: auto;
}

.conteudo{
    display: flex;
    background-color: var(--cor-primaria);
    border-radius: 30px;
}

.info{
    flex: 1;
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
    color: #fff;
}

.cabecalho{
    max-width: 1026px;
    margin: auto;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 45px;
    width: 100%;
    padding-top:6px;
}

.container.cabecalho{
    position: fixed;
    left: 124px;
    
}

.cabecalho img{
    width: 90px;
    height: 60px;
    border-radius: 0px;
    object-fit: cover;
    object-position: -29px;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu ul li{
    display: inline;
    position: relative;
}

.menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    transition: background .3s;
    font-size: 18px;
    background-color: rgb(40, 40, 40);
    color:#fff;
}

.menu ul li a:hover{
    background-color: var(--cor-hover);
    color: #000;
}

/*sub menu*/
.menu ul ul{
    display: none;
    left: 5;
    position: absolute;
    margin-top: -18px;
    
}

.menu ul li:hover ul{
    display: block;
}

.menu ul ul{
    width: 170px
}

.menu ul ul li a{
    display: block;
    font-size: 18px;
    padding: 10px;
}

a{
    color: rgb(178, 214, 245);
    text-decoration: none;
}


.contato{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
    margin-left: 10px;
    padding: 5px;
    border-radius:20px;
    height: 25px;
    width: 25px;
}

.contato-body a{
    text-decoration: none;
    image-resolution: inherit;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.contato-body a img{
    width: 15px;
    height: 15px;
    object-fit: contain;
    object-position: center;
}


.links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1{ 
    background-color: var(--cor-fundo);
    font-size: 34px;
    text-align: center;
    padding-top:60px;
    padding-bottom:10px;
}

.info h2{
    padding: 10px 0px;
    font-size: 28px;
}

.info p{
    font-size: 16px;
}

footer{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}

img{
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

.titulo{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-bottom: 1px solid #666;
}

